 {:deps {io.github.jacobobryant/biff-config {:git/sha "2bac210c9bd52f34d84cab515f2d9a0d19815808"}
         io.github.jacobobryant/biff-cljrun {:git/sha "d3f71eb8f21bb3ad28cc268dce2a5973529a35b4"}
         babashka/fs                   {:mvn/version "0.5.20"}
         babashka/process              {:mvn/version "0.5.21"}
         cider/cider-nrepl             {:mvn/version "0.28.3"}
         com.nextjournal/beholder      {:mvn/version "1.0.2"}
         hato/hato                     {:mvn/version "0.9.0"}
         io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}
         io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}
         nrepl/nrepl                   {:mvn/version "1.0.0"}
         refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}}
  :paths ["src"]}
